html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#__next {
  width: 100vw;
  height: 100vh;

  > div, > div > div {
    width: 100vw;
    height: 100vh;
  }
}

* {
  box-sizing: border-box;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex: 1;
  flex-direction: row;
  overflow: hidden;
}

main {
  display: flex;
  flex: 1;
  padding: 1em;
  border: 1px solid orange;
  width: calc(100vw - 200px);

  > div, > div > div, > div>div>div {
    width: 100%;
  }
}

aside {
  width: 200px;
  overflow: hidden;
  transition: width 200ms ease-in-out;
  border: 1px solid red;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 0;
    height: 100%;
    background-color: lightgray;

    li {
      display: flex;
      width: 100%;
      cursor: pointer;
      //background-color: lightgray;
      transition: background-color 200ms ease-in-out;

      &.active, &:hover {
        background-color: darkgray;
        transition: background-color 200ms ease-in-out;
      }

      a {
        display: flex;
        align-items: center;
        height: 24px;
        padding: 6px 0 6px 1em;
        width: 100%;
        text-decoration: none;
        color: unset;
      }
    }
  }

  span {
    //visibility: hidden;
  }

  &:hover {
    width: 200px;
    min-width: 10vw;
    transition: width 200ms ease-in-out;

    span {
      visibility: visible;
    }
  }
}

table {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #000000;
  background-color: #4A4A4A;
  width: 100%;
  height: auto;
  text-align: center;
  border-collapse: collapse;
}
table td, table th {
  border: 1px solid #4A4A4A;
  padding: 3px 2px;
}
table tbody tr {
  height: 50px;
  padding: 10px;
}

table tbody td {
  font-size: 13px;
  color: #E6E6E6;
  word-break: break-word;
}
table tr:nth-child(even) {
  background: #888888;
}
table thead {
  background: #000000;
  border-bottom: 3px solid #000000;
}
table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #E6E6E6;
  text-align: center;
  border-left: 2px solid #4A4A4A;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #E6E6E6;
  background: #000000;
  background: -moz-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: -webkit-linear-gradient(top, #404040 0%, #191919 66%, #000000 100%);
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #000000 100%);
  border-top: 1px solid #4A4A4A;
}
table tfoot td {
  font-size: 12px;
}